@font-face {
    font-family: "Poppins-bold";
    src: url("../../font/Poppins-bold.ttf");
}

@font-face {
    font-family: "Poppins-extrabold";
    src: url("../../font/Poppins-extrabold.ttf");
}

@font-face {
    font-family: "Poppins-medium";
    src: url("../../font/Poppins-medium.ttf");
}

@font-face {
    font-family: "Poppins-regular";
    src: url("../../font/Poppins-regular.ttf");
}

@font-face {
    font-family: "Poppins-semibold";
    src: url("../../font/Poppins-semibold.ttf");
}

.navbar {
    background: hsla(0, 2%, 9%, 0.801);
}

.navbar .nav-item a {
    font-size: smaller;
}

.container-baru {
    height: fit-content;
}

.jumbotron {
    background-color: #000000;
    height: 512px;
}

.jumbotron h1 {
    font-family: "Poppins-bold";
    color: #ffffff;
    margin-top: 200px;
}

.jumbotron p {
    font-family: "Poppins-medium";
    color: #ffffff;
}

.transisi-jumbotron {
    margin-top: -35px;
}

/* Kritik dan saran */
.kritik-logo .container .row h1 {
    margin-top: 100px;
    font-family: "Poppins-bold";
    font-size: 30px;
    color: #a10206;
    margin-left: 20px;
}

.kritik-logo .kritik-saran {
    margin-bottom: 30px;
}

.kritik-logo .container .row textarea {
    border-color: #979797 !important;
    border-radius: 5px;
    max-width: ;
}

.kritik-logo .container form .row .nama {
    margin-top: 20px;
    border-color: #979797 !important;
    border-radius: 5px;
}

.kritik-logo .container form .row .judul {
    margin-top: 20px;
    border-color: #979797 !important;
    border-radius: 5px;
}

.kritik-logo .container form .row .email {
    margin-top: 20px;
    border-color: #979797 !important;
    border-radius: 5px;
}

.kritik-logo .container form .row .button-verification button {
    margin-top: 20px;
    border-radius: 20px;
    width: 80%;
}

.kritik-logo .container form .row .button-verification button:hover {
    background-color: #a10206;
    border-color: #a10206;
}

.kritik-logo .container .alamat {
    margin-top: -10px;
}

.kritik-logo .container .alamat .world,
.kritik-logo .container .alamat .maps,
.kritik-logo .container .alamat .phone,
.kritik-logo .container .alamat .jam {
    margin-top: 25px;
}

.kritik-logo .container .alamat h3 {
    font-family: "Poppins-bold";
    font-size: 12px;
    color: #000000;
    margin-top: 5px;
}

.kritik-logo .container .alamat h4 {
    font-family: "Poppins-bold";
    font-size: 12px;
    color: #979797;
}

.kritik-logo .container .alamat img {
    background-color: transparent;
    border-color: transparent;
}

/* maps */
.maps-mpu {
    margin-top: 125px;
    margin-bottom: 125px;
}

/* Footer */

footer {
    width: 100%;
    background: #000000;
    margin-top: -2px;
}

footer .judul h3 {
    width: 190px;
    font-family: "Poppins-bold";
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
}

footer .deskripsi p {
    width: 483.67px;
    height: 51px;
    margin-top: 20px;
    font-family: "Poppins-regular";
    font-size: 14px;
    text-align: center;
    color: #cac0c9;
    padding-left: 10px;
    padding-right: 10px;
}

.footer .container .row hr {
    height: 0px;
    margin-top: 20px;
    border: 1px solid #dadada;
}

footer .container .sub-navigation .col-sm-4 p {
    font-family: "Poppins-semibold";
    font-size: 13px;
    color: #cac0c9;
}

footer .container .sub-navigation .col-sm-4 span {
    font-family: "Poppins-semibold";
    font-size: 13px;
    margin-left: 2px;
    color: #a10206;
}
