@font-face {
    font-family: "Poppins-bold";
    src: url("../../font/Poppins-bold.ttf");
}

@font-face {
    font-family: "Poppins-extrabold";
    src: url("../../font/Poppins-extrabold.ttf");
}

@font-face {
    font-family: "Poppins-medium";
    src: url("../../font/Poppins-medium.ttf");
}

@font-face {
    font-family: "Poppins-regular";
    src: url("../../font/Poppins-regular.ttf");
}

@font-face {
    font-family: "Poppins-semibold";
    src: url("../../font/Poppins-semibold.ttf");
}

/* .navbar {
    background: hsla(0, 2%, 9%, 0.801);
  }
  
  .navbar .nav-item a {
    font-size: smaller;
  } */

.jumbotron {
    background-color: black;
    height: 412px;
}

.jumbotron h1 {
    font-family: "Poppins-bold";
    color: #ffffff;
    margin-top: 200px;
}
.jumbotron p {
    font-family: "Poppins-medium";
    color: #ffffff;
}

.transisi-jumbotron {
    margin-top: -45px;
}

/* deskripsi produk */
.deskripsi {
    margin-top: 100px;
    margin-bottom: 100px;
}

.deskripsi .row img {
    margin-bottom: 20px;
}

/* Keunggulan produk */
.keunggulan {
    align-content: center;
    margin-top: 100px;
    width: 100%;
    height: 600px;
}

.keunggulan h1 {
    position: absolute;
    width: 222px;
    height: 27px;

    font-family: "Poppins-Bold";
    font-style: normal;
    font-size: 30px;
    line-height: 49px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: #a10206;
}

.keunggulan hr {
    position: absolute;
    width: 100px;
    height: 3.77px;
    margin-top: 40px;

    background: #a10206;
    border-radius: 20px;
}

.keunggulan .card {
    background: #c4c4c4;
    background: -webkit-linear-gradient(
        to bottom,
        #fafafa,
        #fafafa,
        #c4c4c4,
        #474949
    );
    background: linear-gradient(to bottom, #fafafa, #fafafa, #c4c4c4, #474949);
    border-radius: 20px;
}
.keunggulan .produk1 .card {
    margin-bottom: 30px;
}

.keunggulan .produk1 .card img {
    margin-top: 13%;
    margin-left: 15%;
    margin-bottom: 9px;
}

.keunggulan .produk2 .card img {
    margin-top: 13%;
    margin-left: 15%;
}

.keunggulan .card-title {
    font-family: "Poppins-bold";
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}

.keunggulan .card-text {
    font-family: "Poppins-semibold";
    font-size: 11px;
    text-align: center;
    color: #000000;
}

.keunggulan .card button {
    border-color: #000000;
    border-radius: 20px;
    align-content: center;
}

.keunggulan .card button span {
    font-family: "Poppins-bold";
    font-style: normal;
    font-size: x-small;
    color: #000000;
}

.keunggulan .card button:hover {
    border-color: #f1f1ef;
    color: white;
    background-color: #fafafa;
}

/* Hubungin kami */
.hubungi-kami {
    margin-top: 200px;
}
.hubungi-kami .row {
    margin-bottom: 100px;
    border-top: 3px solid #aaaaaa;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 30px;
}

.hubungi-kami .row h5 {
    font-size: 12px;
    font-family: "Poppins-semibold";
    color: black;
}

.hubungi-kami .row button {
    font-size: small;
}
/* Footer */
footer {
    width: 100%;
    background: #000000;
    margin-top: -2px;
}

footer .judul h3 {
    width: 190px;
    font-family: "Poppins-bold";
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
}

footer .deskripsi p {
    width: 483.67px;
    height: 51px;
    margin-top: 20px;
    font-family: "Poppins-regular";
    font-size: 14px;
    text-align: center;
    color: #cac0c9;
    padding-left: 10px;
    padding-right: 10px;
}

.footer .container .row hr {
    height: 0px;
    margin-top: 20px;
    border: 1px solid #dadada;
}

footer .container .sub-navigation .col-sm-4 p {
    font-family: "Poppins-semibold";
    font-size: 13px;
    color: #cac0c9;
}

footer .container .sub-navigation .col-sm-4 span {
    font-family: "Poppins-semibold";
    font-size: 13px;
    margin-left: 2px;
    color: #a10206;
}
@media (max-width: 576px) {
    /* Deskripsi produk */
    .deskripsi .row .paragraph {
        font-family: "Poppins-medium";
        color: #000000;
        font-size: 14px;
    }

    /* Tujuan Aplikasi */
    .tujuan-aplikasi {
        margin-top: -80px;
        margin-bottom: -100px;
    }
    .tujuan-aplikasi .row .desc {
        font-family: "Poppins-bold";
        color: #a10206;
        border-bottom: 5px solid #a10206;
    }

    .tujuan-aplikasi .tujuan {
        font-family: "Poppins-medium";
        font-size: 14px;
        color: #000000;
        padding-top: 30px;
    }
}
@media (min-width: 576px) {
    /* Deskripsi produk */
    .deskripsi .row .paragraph {
        font-family: "Poppins-medium";
        color: #000000;
        font-size: 16px;
    }

    /* Tujuan Aplikasi */
    .tujuan-aplikasi {
        margin-bottom: 300px;
    }
    .tujuan-aplikasi .row .desc {
        font-family: "Poppins-bold";
        color: #a10206;
    }

    .tujuan-aplikasi .tujuan {
        font-family: "Poppins-medium";
        font-size: 16px;
        color: #000000;
        border-left: 6px solid #a10206;
        padding-left: 30px;
        height: 100px;
    }
}

@media (min-width: 768px) {
    /* Deskripsi produk */
    .deskripsi .row .paragraph {
        font-family: "Poppins-medium";
        color: #000000;
        font-size: 20px;
    }

    /* Tujuan Aplikasi */
    .tujuan-aplikasi .row .desc {
        font-family: "Poppins-bold";
        color: #a10206;
    }

    .tujuan-aplikasi .tujuan {
        font-family: "Poppins-medium";
        font-size: 20px;
        color: #000000;
        border-left: 6px solid #a10206;
        padding-left: 30px;
        height: 100px;
    }
}
@media (min-width: 1000px) {
}
