@font-face {
    font-family: "Poppins-bold";
    src: url("../../font/Poppins-bold.ttf");
}

@font-face {
    font-family: "Poppins-extrabold";
    src: url("../../font/Poppins-extrabold.ttf");
}

@font-face {
    font-family: "Poppins-medium";
    src: url("../../font/Poppins-medium.ttf");
}

@font-face {
    font-family: "Poppins-regular";
    src: url("../../font/Poppins-regular.ttf");
}

@font-face {
    font-family: "Poppins-semibold";
    src: url("../../font/Poppins-semibold.ttf");
}

html,
body {
    width: 100% !important;
    padding: 0px;
    font-family: "poppins-medium";
}

/* Navigasi */

.navbar {
    background: hsla(0, 2%, 9%, 0.801);
}

.navbar .nav-item a {
    font-size: smaller;
}

.container-baru {
    height: fit-content;
}

/* .navbar img{
  width: 25%;
}

.navbar-nav{
  display: flex;
  width: 62%;
  justify-content: space-around;
  align-content: center;
}

 .nav-item a {
  font-family: "Poppins-medium";
}

.navbar-2 {
  height: 80px;
}

nav .btn {
  width: 122px;
  height: 36px;
  margin-left: 150px;
  background-color: #A10206;
  border-radius: 10px;
  font-family: "Poppins-semibold";
  border-color: #A10206;
  font-size: small;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}  */

/* Background Homepage */
.home {
    background-image: url(../../../img/home/jumbotron.png);
    background-size: cover;
    height: 100%;
}

.home img {
    margin-top: 100px;
    bottom: 20px;
    background-color: transparent;
    border-color: transparent;
}

.home .display-6 {
    letter-spacing: 0.01em;
    color: #ffffff;
    font-family: "Poppins-bold";
}

/* PT INFO */
.aplikasi-utama-mpu {
    background-color: rgb(0, 0, 0);
    background-size: cover;
    width: 100%;
    margin-top: -35px;
    padding-bottom: 55px;
    font-family: "Poppins-bold";
    font-style: normal;
}

.arti-mpu h1 {
    font-size: x-large;
    margin-top: 25px;
    color: #a10206;
    text-align: center;
}

.arti-mpu hr {
    width: 99.6px;
    height: 3.77px;
    background: #a10206;
    border-radius: 20px;
}

.arti-mpu p {
    font-family: "Poppins-regular";
    font-style: normal;
    padding: 20px;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.transisi-jumbotron {
    margin-top: -2px;
}

/* Aplikasi Utama */
.aplikasi-utama-mpu .text {
    margin-bottom: 10px;
}
.aplikasi-utama-mpu .card {
    background-color: #282a2b;
    align-items: center;
    border-radius: 5px;
}
.aplikasi-utama-mpu .card-title {
    font-family: "Poppins-bold";
    font-style: normal;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}
.aplikasi-utama-mpu .card img {
    margin-top: 18px;
}
.aplikasi-utama-mpu .card p {
    font-family: "Poppins-regular";
    font-style: normal;
    font-size: smaller;
    text-align: center;
    color: #ffffff;
}

/* Produk MPU */
.produk-mpu {
    background-color: #ffffff;
    align-content: center;
    margin-top: 100px;
    width: 100%;
}

.produk-mpu h1 {
    font-family: "Poppins-Bold";
    font-style: normal;
    font-size: x-large;
    text-align: center;
    color: #cc0001;
}

.produk-mpu hr {
    width: 100px;
    height: 3.77px;
    background: #a10206;
    border-radius: 20px;
}

.produk-mpu .main-p {
    height: 46px;
    width: 370px;
    font-family: "Poppins-semibold";
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

.produk-mpu .card {
    background: #c4c4c4;
    background: -webkit-linear-gradient(
        to bottom,
        #fafafa,
        #fafafa,
        #c4c4c4,
        #474949
    );
    background: linear-gradient(to bottom, #fafafa, #fafafa, #c4c4c4, #474949);
    border-radius: 20px;
}
.produk-mpu .produk1 .card {
    margin-bottom: 30px;
}

.produk-mpu .produk1 .card img {
    margin-top: 13%;
    margin-left: 15%;
    margin-bottom: 9px;
}

.produk-mpu .produk2 .card img {
    margin-top: 13%;
    margin-left: 15%;
}

.produk-mpu .card-title {
    font-family: "Poppins-bold";
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    color: #000000;
}

.produk-mpu .card-text {
    font-family: "Poppins-semibold";
    font-size: 11px;
    text-align: center;
    color: #000000;
    min-height: 50px;
}

.produk-mpu .card button {
    border-color: #000000;
    border-radius: 20px;
    align-content: center;
}

.produk-mpu .card button span {
    font-family: "Poppins-bold";
    font-style: normal;
    font-size: x-small;
    color: #000000;
}

.produk-mpu .card button:hover {
    border-color: #f1f1ef;
    color: white;
    background-color: #fafafa;
}

/* Client MPU */
.client-kami {
    align-items: flex-start;
    margin-top: 80px;
    margin-bottom: 100px;
}

.client-kami .client-img {
    margin-top: -30px;
}

.client-kami .row .client-desc {
    margin-top: 30px;
}

.client-kami .row .client-desc h1 {
    font-family: "Poppins-bold";
    font-style: normal;
    font-size: 25px;
    align-items: center;
    color: #cc0001;
}

.client-kami .row .client-desc hr {
    width: 101px;
    height: 3px;
    margin-top: -6px;
    background: #a10206;
    border-radius: 20px;
}

.client-kami .row .client-desc .main-p {
    font-family: "Poppins-semibold";
    width: 385px;
    margin-inline-end: 5px;
    font-size: 14px;
    align-items: center;
    text-align: center;
    color: #000000;
}

.client-kami .row .client-desc .client-all p {
    width: 70%;
    height: 44px;
    margin-left: 10px;
    margin-top: 20px;
    font-family: "Poppins-semibold";
    font-size: 13px;
    line-height: 23px;
    align-items: center;
    color: #000000;
}

.client-kami
    .row
    .client-desc
    .client-all
    .client-kami
    .row
    .client-desc
    .client-all
    .client-2
    p {
    width: 70%;
    margin-left: 10px;
    margin-top: 20px;
    font-family: "Poppins-semibold";
    font-size: 13px;
    line-height: 23px;
    align-items: center;
    color: #000000;
}

.client-kami .row .client-desc .client-all .client-3 p {
    width: 70%;
    margin-left: 10px;
    margin-top: 20px;
    font-family: "Poppins-semibold";
    font-size: 13px;
    line-height: 23px;
    align-items: center;
    color: #000000;
}

.client-kami .row .client-desc .client-all .client-4 p {
    width: 70%;
    margin-left: 10px;
    margin-top: 20px;
    font-family: "Poppins-semibold";
    font-size: 13px;
    line-height: 23px;
    align-items: center;
    color: #000000;
}

.client-kami .client-all .btn-s button {
    border-color: #cc0001;
    border-radius: 20px;
    align-content: center;
}

.client-kami .row .client-desc .client-all .btn-s span {
    font-family: "Poppins-bold";
    font-style: normal;
    font-size: x-small;
    color: #cc0001;
}

.client-kami .row .client-desc .client-all .btn-s button:hover {
    border-color: #be3434;
    color: white;
    background-color: #ebebeb;
}
/* Footer */

footer {
    width: 100%;
    background: #000000;
    margin-top: -2px;
}

footer .judul h3 {
    width: 190px;
    font-family: "Poppins-bold";
    margin-top: 10px;
    font-size: 14px;
    color: #ffffff;
}

footer .deskripsi p {
    width: 483.67px;
    height: 51px;
    margin-top: 20px;
    font-family: "Poppins-regular";
    font-size: 14px;
    text-align: center;
    color: #cac0c9;
    padding-left: 10px;
    padding-right: 10px;
}

.footer .container .row hr {
    height: 0px;
    margin-top: 20px;
    border: 1px solid #dadada;
}

footer .container .sub-navigation .col-sm-4 p {
    font-family: "Poppins-semibold";
    font-size: 13px;
    color: #cac0c9;
}

footer .container .sub-navigation .col-sm-4 span {
    font-family: "Poppins-semibold";
    font-size: 13px;
    margin-left: 2px;
    color: #a10206;
}
